.filter{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(130, 129, 129, 0.123);
}
.filter div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.price input{
    padding: 10px;
    border-radius: 7px;
    border: none;
    max-width: 100px;
}
.discount input{
    height: 100%;
    width: 100%; 
    cursor: pointer;
}
.discount p:last-child{
   height: 30px;
   width: 30px;
}
.select {
   border-radius: 10px;
   padding: 10px;
   border: none;
}

@media(max-width: 800px){
    .filter{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .price{
        flex-direction: column;
    }
}